#bg{
    background-image:url("https://png.pngtree.com/thumb_back/fw800/back_pic/02/66/97/15578bade17dcc3.jpg");
    background-repeat:no-repeat;
    background-size:1400px;
    background-attachment:fixed;
    height: auto;
    
}